*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#fff;
    font-family: sans-serif;
}
body{
    background-color: #1E293b;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 50;
}
.nav{
    display: flex;
    justify-content: space-between ;
    color: white;
    margin: 0px 0px;
    background-color: #315186;
    padding: 20px;

}

ul li{
    display: inline;
}

li a {
    text-decoration: none;
    margin: 5px 10px;
    padding: 10px;
    border-radius: 5px;
    color: wheat;
}
 li a:hover{
    background-color: white;
    color: #000;
 }
 .content{
   margin: 70px 0px;
 }
 .content h3{
    text-align: center;
    margin: 10px 0;
    color: #f76060;
 }
 .box{
    border:5px green dotted;
    margin: 40px 30px;
    padding: 20px;
 }
 .relative{
    height: 250px;
    width: 500px;
    background-color: green;
    position: relative;
    margin:  20px auto;

 }
 .absolute{
    height: 150px;
    width: 150px;
    background-color: red;
    position: absolute;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto auto;
 }
 h2{
    text-align: center;
 }

 span{
    height: 50px;
    width: 100px;
    background-color: yellow;
    color: #1E293b;
 }
 span.inline-block{
    display: inline-block;
 }
 span.block{
    display: block;
 }
 span.inline{
    display: inline;
 }
 .flex {
    height: 20rem;
    width: 40rem;
    background-color: #315186;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

 }
 .flex div{
 }
 img{
    height: 150px;
    width: 150px;
    object-fit: cover;
 }
 .flex-grow{
    display: flex;
    margin: 10px 20px;
 }
 .flex-order{
    display: flex;
 }
 .flex-order div{
    height: 10rem;
    width: 10rem;
    background-color: firebrick;
    text-align: center;
    margin: 10px;
 }